.borderDiv {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-light-gray);
  margin-top: 25px;
}
.HeaderListElement {
  display: flex;
  flex-direction: row;
  color: var(--color-gray);
}
nav {
  //margin-top: 40px;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //position: relative;
}

ul > a {
  li {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 15px;
    img {
      margin-right: 8px;
    }
  }
}
ul > a:nth-child(2) {
  margin-left: 300px;
  margin-right: 0;
}

ul > a:first-child {
  li {
    display: flex;
    flex-direction: row-reverse;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  span:first-of-type {
    color: var(--color-dark-gray);
  }
}

.wrapperHeader {
  margin-top: 24px;
}
